* {
    background: beige;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar {
display: flex;
    justify-content: center;
    align-items: center;
max-width: 90vw;
}
.clearButton {
    margin: 8px;
    padding: 7px;
}

.clearButton button {
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 25px;
    color: crimson ;
}

.cards {
    display: flex;
}